
{% extends "model-page.html" %}

{% block content %}
<div class="agenda-wrapper" style="padding-top: 30px;">
    <div class="container shadow p-3 mb-5 bg-body rounded justify-content-md-end ">
        <h2>Agendamentos</h2>
        <a class="btn btn-outline-secondary" href="evento/"> Novo Evento </a>
        <a class="btn btn-outline-secondary float-end" href="?{{ncal}}">
            Próximo Mês
            <i class="fas fa-angle-right"></i></a>
        <a class="btn btn-outline-secondary float-end" href="?{{pcal}}" >
            <i class="fas fa-angle-left"></i>
            Mês Anterior </a>


        {{calendar | safe}}

    </div>

</div>

{% endblock %}


